h1 {
    text-align: center;
    margin: 0;
    padding: 2rem 0;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: stretch;
    background: #ecf0f1;
}

$CarouserContainer: carouser-container;
$CarouselItem: carousel-item;
$CarouseButton: carousel-button;

.#{$CarouserContainer} {
    position: relative;
    overflow: hidden;
}

.#{$CarouserContainer}-inner {
    margin-left: -1rem; // offset for children spacing
    display: flex;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .#{$CarouselItem} & {
        scroll-snap-align: center;
    }
}

.item {
    font-size: 2rem;
    color: white;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
}

.#{$CarouselItem} {
    margin-left: 1rem;
    flex: 0 0 auto;
}

.#{$CarouseButton} {
    position: absolute;
    top: 50%;
    z-index: 1;
    cursor: pointer;

    transition: transform 0.1s ease-in-out;

    background: white;
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
}

.#{$CarouseButton}-left {
    left: 0;
    transform: translate(-100%, -50%);

    .#{$CarouserContainer}:hover & {
        transform: translate(0%, -50%);
    }
}

.#{$CarouseButton}-right {
    right: 0;
    transform: translate(100%, -50%);

    .#{$CarouserContainer}:hover & {
        transform: translate(0%, -50%);
    }
}
