h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 10rem;
}

.container {
    height: stretch;
    width: 100%;

    background: #ecf0f1;
}

.horizontal-center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 25rem;
}

.carouser-container {
    position: relative;
    overflow: hidden;

    .right-carousel-button {
        right: 0;
        transform: translate(100%, -50%);
    }

    &:hover .right-carousel-button {
        transform: translate(0%, -50%);
    }
}

.carouser-container-inner {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    // offset for children spacing
    margin-left: -1rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .carousel-item & {
        scroll-snap-align: center;
    } // ${CarouselItem} & { scroll-snap-align: center; }
}

.carousel-button {
    position: absolute;

    cursor: pointer;

    top: 50%;
    z-index: 1;

    transition: transform 0.1s ease-in-out;

    background: white;
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
}

.carousel-button-left {
    left: 0;
    transform: translate(-100%, -50%);

    .carouser-container:hover & {
        transform: translate(0%, -50%);
    } // ${CarouserContainer}:hover & { transform: translate(0%, -50%); }

    //transform: translate(0%, -50%);
}

.carousel-button-right {
    right: 0;
    transform: translate(100%, -50%);

    .carouser-container:hover & {
        transform: translate(0%, -50%);
    } // ${CarouserContainer}:hover & { transform: translate(0%, -50%); }

    //transform: translate(0%, -50%);
}

.item {
    font-size: 2rem;
    color: white;
    text-transform: capitalize;

    //   width: ${({ size }) => `${size}rem`};
    //   height: ${({ size }) => `${size}rem`};

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item {
    margin-left: 1rem;
    flex: 0 0 auto;
}
